Options +FollowSymlinks
Options -Indexes
RewriteEngine On
ReWriteBase /

RewriteRule ^ara/(.*)/(.*)$ index.php?ara=$2&sayfa=$1
RewriteRule ^etiket/(.*)/(.*)$ index.php?etiket=$2&sayfa=$1
RewriteRule ^ara/(.*)$ index.php?ara=$1&sayfa=1
RewriteRule ^etiket/(.*)$ index.php?etiket=$1&sayfa=1

RewriteRule ^sayfa/(.*)/$ index.php?sayfa=$1

RewriteRule ^index.html$ index.php
RewriteRule ^/$ index.php
RewriteRule ^sitemap.xml$ sitemap.php
RewriteRule ^rss.xml$ rss.php

RewriteRule ^(.*).html$ index.php?url=$1 [QSA]
