<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rule 1L">
	                <match url="^ara/(.*)/(.*)$"  />
	                <action type="Rewrite" url="/index.php?ara={R:2}&amp;sayfa={R:1}"  />
                </rule>
                <rule name="rule 2L">
	                <match url="^etiket/(.*)/(.*)$"  />
	                <action type="Rewrite" url="/index.php?etiket={R:2}&amp;sayfa={R:1}"  />
                </rule>
                <rule name="rule 3L">
	                <match url="^ara/(.*)$"  />
	                <action type="Rewrite" url="/index.php?ara={R:1}&amp;sayfa=1"  />
                </rule>
                <rule name="rule 4L">
	                <match url="^etiket/(.*)$"  />
	                <action type="Rewrite" url="/index.php?etiket={R:1}&amp;sayfa=1"  />
                </rule>
                <rule name="rule 5L">
	                <match url="^index.html$"  />
	                <action type="Rewrite" url="/index.php"  />
                </rule>
                <rule name="rule 6L">
	                <match url="^/$"  />
	                <action type="Rewrite" url="/index.php"  />
                </rule>
                <rule name="rule 7L">
	                <match url="^(.*).html$"  />
	                <action type="Rewrite" url="/index.php?url={R:1}" appendQueryString="true" />
                </rule>
                <rule name="rule 8L">
	                <match url="^sayfa/(.*)/$"  />
	                <action type="Rewrite" url="/index.php?sayfa={R:1}" />
                </rule>
                <rule name="rule 9L">
	                <match url="^sitemap.xml$"  />
	                <action type="Rewrite" url="/sitemap.php"  />
                </rule>
                <rule name="rule 10L">
	                <match url="^rss.xml$"  />
	                <action type="Rewrite" url="/rss.php"  />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>