.ayarlar {
    label {
        line-height: 2;
    }
    .baglantilar {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            padding: 12px 0px 0px;
            position: relative;
            background: white;
            span {
                display: inline-block;
                margin: 0 1% 0 0;
                padding: 0;
                &.ikon {
                    width: 28%;
                }
                &.adres {
                    width: 27%;
                }
                &.renk {
                    width: 13%;
                }
                &.buton {
                    padding-top: 3px;
                    margin-right: 0;
                    float: right;
                }
            }
        }
    }
}