.etiketler {
    ul {
        list-style: none;
        padding: 0;
        margin: 0 -6px;
        li {
            float: left;
            margin: 6px;
            padding: 6px 6px 6px 9px;
            border-radius: 3px;
            border: 1px solid #ddd;
            .renksec {
                border: none;
                outline: none;
                padding: 0;
                margin: 0;
                min-width: auto;
                width: 0;
                opacity: 0;
            }
            .renkseclink {
                display: inline-block;
                margin-left: 18px;
            }
            .kaldir {
                display: inline-block;
                margin-left: 3px;
            }
        }
    }
}