body {
    font-family: $roboto;
    font-size: 18px;
    line-height: 1.6;
    position: relative;
}

h1, h2, h3, h4 {
    font-family: $oswald;
    span.small {
        font-family: $roboto;
        font-size: .5em;
        color: #aaa;
    }
}

.modal-body {
    label {
        font-size: .8em;
    }
}

/* Menu Aç Kapat */
@media (max-width: 1365px) {
    .menu {
        left: -1 * $menu-genislik;
        .menu-kapat {
            display: block !important;
        }
    }

    .body {
        left: 0;
        .ust-bar {
            left: 0;
            .body-menu-btn {
                display: block;
            }
        }
    }
}

.acik {
    &.menu {
        left: 0;
    }

    &.body {
        transition: all $sure-birim;
        filter: blur(3px);

        .ust-bar {
            left: $menu-genislik;
            .body-menu-btn {
                display: none;
            }
        }
    }
}
/* Son: Menu Aç Kapat */

/* Mobil boyutunda kapanacak elementler */
@media (max-width: 767px) {
    .xs-kapat {
        display: none !important;
    }
}
/* Son: Mobil boyutunda kapanacak elementler */

/* Orta boyutta kapanacak elementler */
@media (max-width: 991px) {
    .md-kapat {
        display: none !important;
    }
}
/* Son: Orta boyutta kapanacak elementler */