body.login {
    background: #f0f0f0;
    .container {
        margin-top: 90px;
        form {
            background: #fff;
            box-shadow: 4px 4px 8px rgba(0,0,0,.6);
            border-radius: 6px;
            .baslik {
                color: #aaa;
                border-bottom: 1px solid #ccc;
                padding-bottom: 3px;
            }
        }
    }
}