.makale {
    .icerik {
        height: 420px;
    }
    .baslik {
        font-size: 1.1em;
        font-weight: bold;
    }

    .tarih {
        z-index: inherit;
    }

    &.foto {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                float: left;
                position: relative;
                width: 180px;
                height: 135px;
                padding: 0;
                margin: 6px;
                .makalefoto {
                    width: 180px;
                    height: 135px;
                    .cover {
                        width: 180px;
                        height: 135px;
                        line-height: 140px;
                        text-align: center;
                        background: rgba(0,0,0,.4);
                        
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
