.menu {
    font-family: $oswald;
    width: 320px;
    background: #222;
    position: fixed;
    top: 0px;
    bottom: 0px;
    overflow: hidden;

    ul {
        padding: 0;
        margin: 24px 0px 0px 0px;
        list-style: none;

        li {
            padding: 3px 9px;
            color: #ddd;

            i {
                display: inline-block;
                width: 30px;
                font-size: 1.1em;
            }
            a {
                color: inherit;
                text-decoration: none;
                font-size: .8em;
                &:hover {
                    color: #fcfcfc;
                }
            }

            &.bordered {
                border-top: 1px solid #2c2c2c;
            }
            &.aktif {
                background: #2c2c2c;
                a { color: #fcfcfc; }
                &:after {
                    float: right;
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    font-smoothing: antialiased;
                    font-size: .8em;
                    line-height: 2;
                    display: inline-block;
                    color: #fff6ca;
                    padding-right: .25em;
                    text-shadow: 0 0 3px rgba(240,240,240,.9);
                    content: "\f111";
                }
            }
            .input-group-addon {
                button {
                    border: none;
                    outline: none;
                    padding: 0;
                    margin: 0;
                    background: transparent;
                }
            }
            &.menu-ac-kapat {
                display: none;
                text-align: right;
            }
        }
    }
}