.yorumlar {
    .nav-tabs li {
        a, a:hover {
            border-radius: 0;
            border-top: 3px solid #ccc;
        }
        &.active {
            a, a:hover {
                border-top: 3px solid #d9534f;
            }
        }
    }

    /* Uzun Metin Ellipsis */
    .liste-uzun-metin {
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        width: 500px;
        overflow: hidden;
    }
    @media (max-width: 1199px) {
        .liste-uzun-metin {
            width: 355px;
        }
    }
    @media (max-width: 991px) {
        .liste-uzun-metin {
            width: 270px;
        }
    }
    @media (max-width: 479px) {
        .liste-uzun-metin {
            width: 180px;
        }
    }
    /* Son: Uzun Metin Ellipsis */
}