/* Fontlar */
$oswald: 'Oswald', sans-serif;
$roboto: 'Roboto', sans-serif;

/* Transition efektleri için birim süre */
$sure-birim: .2s;

/* Üst Bar Yüksekliği */
$bar-ince: 440px;
$bar-kalin: 720px;

