.makale {
    p {
        margin-top: 24px;
    }

    &.ust-bar {
        margin-bottom: 30px;
        .bar-bg { height: $bar-kalin; }
        .avatar {
            bottom: -18px;
        }
        .sayfa-baslik {
            bottom: 150px;
        }
    }

    .tarih {
        opacity: .8;
        font-size: .9em;
    }

    .alt-bilgi {
        padding-top: 30px;
        h3 {
            color: #ccc;
        }
    }

    .son-yazilar {
        a {
            display: block;
            color: #666;
            text-decoration: none;
            span {
                font-size: .8em;
                color: #aaa;
            }
        }
        .fa {
            margin-right: 12px;
        }
    }

    .paylas {
        padding-right: 24px;
        color: #aaa;
        a { color: inherit; }
    }

    .etiketler {
        .btn {
            background-color: transparent;
            color: inherit;
            margin-bottom: 3px;
        }
    }

    .yorumlar {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                clear: both;
                padding: 24px 0px;
                overflow: hidden;
                div {
                    float: left;
                }
                p {
                    margin: 0;
                    padding: 0;
                }
                .btn {
                    margin: 0px 6px 6px 0px;
                }
                .avatar {
                    padding: 3px 9px 3px 6px;
                    img {
                        width: 50px;
                        border-radius: 50%;
                        box-shadow: 0 0 3px rgba(0,0,0,.4);
                    }
                }
                .yorum {
                    width: calc(100% - 65px);
                    padding-left: 12px;
                    margin-bottom: 6px;
                    border-left: 8px solid #ddd;
                    background: #f9f9f9;
                    font-size: .8em;
                    min-height: 56px;
                }
                .bilgi {
                    clear: both;
                    display: block;
                    float: none;
                    margin-left: 65px;
                    padding: 0px 12px;
                    background: #f6f6f6;
                    font-size: .9em;
                    line-height: 1.3em;
                    border-left: 8px solid #ddd;
                    a {
                        text-decoration: none;
                    }
                    .tarih {
                        display: inline-block;
                        font-size: .8em;
                        color: #999;
                    }
                }
                &.alt {
                    border-left: 1px dashed #ddd;
                    margin-left: 65px;
                }
            }
        }
    }

    .fotogaleri {
        list-style: none;
        padding: 0;
        margin: 30px -1% 0px -1%;
        overflow: hidden;
        li {
            float: left;
            position: relative;
            width: 23%;
            padding: 6px;
            box-shadow: 0 0 4px rgba(0,0,0,.25);
            margin: 1%;
            .gfoto {
                width: 100%;
            }
        }
        @media (max-width:540px) {
            li {
                width: 48%;
            }
        }
    }
}

.modal {
    margin-top: 90px;
    textarea {
        resize: none;
        height: 140px;
    }
    .margin-bottom-yok {
        margin-bottom: 0;
    }
}

/* LightBox alt yazıyı kaldır */
.lb-number {
    display: none !important;
}

.yorumok {
    display: none;
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    h2 {
        margin: 60px 24px;
    }
}