.ust-bar {
    position: relative;
    margin-bottom: 90px;

    .grad-bg {
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2FiYWJhYiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(171,171,171,0) 33%, rgba(0,0,0,0.66) 100%);
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(33%,rgba(171,171,171,0)), color-stop(100%,rgba(0,0,0,0.66)));
	    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(171,171,171,0) 33%,rgba(0,0,0,0.66) 100%);
	    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(171,171,171,0) 33%,rgba(0,0,0,0.66) 100%);
	    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(171,171,171,0) 33%,rgba(0,0,0,0.66) 100%);
	    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(171,171,171,0) 33%,rgba(0,0,0,0.66) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a8000000',GradientType=0 );
    }

    .bar-bg {
        width: 100%;
        height: $bar-ince;
    }
    .menu-bar {
        position: fixed;
        z-index: 9998;
        height: 60px;
        width: 100%;
        top: 0px;
        left: 0px;
        transition: all $sure-birim * 2;
        background-color: rgba(0,0,0,.25);

        .menu-buton {
            float: left;
            padding: 6px;
            margin: 6px;
            border-radius: 3px;
            color: #ddd;
            cursor: pointer;
        }
        .sosyal {
            float: right;
            padding: 6px;
            margin: 10px 6px;
            border-radius: 3px;
            color: #ddd;
            text-align: right;
            a {
                color: #222;
                display: inline-block;
                line-height: 28px;
                width: 30px;
                height: 30px;
                text-align: center;
                border-radius: 50%;
                background: #fcfcfc;
                transition: all $sure-birim;
                &:hover {
                    background: #222;
                    color: #eee;
                }
            }
        }
        &.alt {
            color: #222;
            background: #fcfcfc;
            box-shadow: 2px 0px 4px rgba(0,0,0,.4);
            .menu-buton {
                color: #222;
            }
            .sosyal {
                color: #222;
                a {
                    color: #eee;
                    background: #222;
                    &:hover {
                        background: #eee;
                        color: #222;
                    }
                }
            }
        }
    }
    .avatar {
        position: absolute;
        width: 130px;
        height: 130px;
        left: 0px;
        right: 0px;
        bottom: -60px;
        margin: auto;
        border-radius: 50%;
        border: 5px solid #fff;
        box-shadow: 0px 0px 4px rgba(0,0,0,.3);
        background: white;
        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }
    }
    .sayfa-baslik {
        color: #fff;
        text-align: center;
        position: absolute;
        bottom: 90px;
        left: 0;
        right: 0;
        margin: auto;
        text-shadow: 0px 0px 4px rgba(0,0,0,.75);
        small {
            color: #fff;
        }
    }
}
