.ust-bar {
    position: relative;
    margin-bottom: 90px;
    .bar-bg {
        width: 100%;
        height: $bar-ince;
    }
    .menu-bar {
        position: fixed;
        z-index: 9998;
        height: 60px;
        width: 100%;
        top: 0px;
        left: 0px;
        transition: all $sure-birim * 2;
        .menu-buton {
            float: left;
            padding: 6px;
            margin: 6px;
            border-radius: 3px;
            color: #ddd;
            cursor: pointer;
        }
        .sosyal {
            float: right;
            padding: 6px;
            margin: 10px 6px;
            border-radius: 3px;
            color: #ddd;
            text-align: right;
            a {
                color: #222;
                display: inline-block;
                line-height: 28px;
                width: 30px;
                height: 30px;
                text-align: center;
                border-radius: 50%;
                background: #fcfcfc;
                transition: all $sure-birim;
                &:hover {
                    background: #222;
                    color: #eee;
                }
            }
        }
        &.alt {
            color: #222;
            background: #fcfcfc;
            box-shadow: 2px 0px 4px rgba(0,0,0,.4);
            .menu-buton {
                color: #222;
            }
            .sosyal {
                color: #222;
                a {
                    color: #eee;
                    background: #222;
                    &:hover {
                        background: #eee;
                        color: #222;
                    }
                }
            }
        }
    }
    .avatar {
        position: absolute;
        width: 130px;
        height: 130px;
        left: 0px;
        right: 0px;
        bottom: -60px;
        margin: auto;
        border-radius: 50%;
        background: url(../images/avatar.png);
        border: 5px solid #fff;
        box-shadow: 0px 0px 4px rgba(0,0,0,.3);
    }
    .sayfa-baslik {
        color: #fff;
        text-align: center;
        position: absolute;
        bottom: 90px;
        left: 0;
        right: 0;
        margin: auto;
        text-shadow: 0px 0px 4px rgba(0,0,0,.75);
        small {
            color: #fff;
        }
    }
}
